* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    /* height:  min(150px, 500px);
    width: min(150px, 500px); */
    height: clamp(150px, 50vw, 250px);
    width: clamp(150px, 50vw, 250px);
    border-radius: 50%;
    position: relative;
}

.clock::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #ffa3a3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.clock span {
    position: absolute;
    inset: 10px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    font-weight: 600;
    font-size: 24px;
    color: #1465bf;
}

.circle {
    position: absolute;
    height: 80px;
    width: 2px;
    background-color: var(--color);
    bottom: 5px;
    transform-origin: bottom;
    border-radius: 50px;
}

.clock-number {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
}


.circle-minute {
    height: 60px;
    width: 3px;
}

.circle-hour {
    height: 40px;
    width: 6px;
}

.clock-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%) scale(1.7);
    height: 100%;
    width: 100%;
}